.dashboard {
	background-color: #eeeeee;
	padding-block: 30px;

	.dashboard__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	.dashboard__header button {
		width: auto;
	}

	.dashboard__body {
		overflow: hidden;
	}
}
