.form-modal {
	background-color: #fff;
	width: 500px;
	position: relative;
	padding: 30px;
	color: #000;
	border-radius: 15px;

	h6 {
		margin-bottom: 20px;
	}

	label {
		font-size: 14px;
		font-weight: 600;
		display: block;
		color: #646464;
		margin-bottom: 7px;
	}

	input,
	select,
	textarea {
		width: 100%;
		resize: none;
		border-radius: 6px;
		border: 1px solid #e8e8e8;
		padding-inline: 10px;
		color: #646464;
		transition: border-color 0.3s, box-shadow 0.3s;

		&:focus {
			border-color: #553ed0;
			outline: none;
			box-shadow: 0 0 0 5px rgba(182, 182, 255, 0.16);
		}
	}

	input,
	select {
		height: 30px;
	}

	textarea {
		padding-block: 5px;
	}

	select {
		appearance: none;
	}

	.form__select {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(95%) rotate(45deg);
			width: 0;
			height: 0;
			border: solid #ccc;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			pointer-events: none;
		}
	}

	.form__actions button {
		display: block;
		margin: 0 auto;
		width: auto;
		min-width: 120px;
		padding: 12px 20px;
	}

	.form__actions button.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.form__close {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 15px;
		right: 15px;
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			width: 20px;
			height: 3px;
			border-radius: 2px;
			background-color: #646464;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.form__rows {
		margin-bottom: 40px;
	}

	.form__row {
		width: 100%;
	}

	.form__row p.error {
		margin-top: 5px;
		font-size: 13px;
	}

	.form__row + .form__row {
		margin-top: 15px;
	}
}

@media (max-width: 374px) {
	.form-project {
		width: calc(100% - 30px);
	}
}
