.task-card {
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
	border: none;
	width: 100%;
	text-align: left;
	border: 2px solid transparent;
	transition: border-color 0.3s;
	margin-bottom: 2px;

	&:hover {
		border-color: #5a5a5a;
	}

	p {
		font-size: 14px;
	}
}

.task-card + .task-card {
	margin-top: 7px;
}
