.task-board {
	background-color: tomato;

	.task-board__inner {
		padding-block: 20px;
	}

	.task-board__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.task-board__column-title {
		font-weight: 600;
		font-size: 14px;
		display: inline-block;
		margin-bottom: 10px;
		padding-inline: 10px;
	}

	.task-board__columns {
		display: grid;
		align-items: flex-start;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

	.task-board__column {
		background-color: #f1f2f4;
		padding: 12px 7px;
		border-radius: 14px;
		box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
	}

	.task-board__column-tasks {
		margin-bottom: 10px;
	}

	.task-board__column button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding-inline: 30px;
		padding-block: 8px;
		position: relative;
		font-weight: 600;
		color: #44546f;
		width: 100%;
		text-align: left;
		border-radius: 10px;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba(9, 30, 66, 0.14);
		}

		&:before,
		&:after {
			position: absolute;
			content: "";
			width: 10px;
			height: 2px;
			background-color: #44546f;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:before {
			transform: translateY(-50%) rotate(90deg);
		}
	}
}
