.project-page {
	padding: 20px 0;

	.project__header-inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 10px 0;
	}

	.project__content {
		display: flex;
		flex-direction: column;
		min-height: 400px;
		background-color: #f7f7f7;
	}

	.project__header-content {
		flex-grow: 1;
		max-width: 45%;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.project__header-content h1 {
		margin-bottom: 10px;
		font-size: 24px;
	}

	.project__header-content svg {
		width: 50px;
		height: 50px;
	}

	.project__header-info {
		flex: 1;
	}

	.project__header-progress {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.project__header-progress span {
		white-space: nowrap;
		font-weight: 700;
		font-size: 14px;
	}

	.project__tabs button {
		background-color: transparent;
		border: none;
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		padding: 20px 12px;
		position: relative;
	}

	.project__tabs button.active {
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 2px;
			background-color: #727dad;
			bottom: 0;
			left: 0;
		}
	}

	.project__tabs-inner {
		display: flex;
		gap: 20px;
	}
}
