@import "./styles/base.css";
@import "./styles/fonts.css";
@import "./styles/shell.css";
@import "./styles/header.css";
@import "./styles/footer.css";
@import "./styles/navbar.css";
@import "./styles/logo.css";
@import "./styles/btn.css";
@import "./styles/socials.css";
@import "./styles/not-found.css";
@import "./styles/form-auth.css";
@import "./styles/form-project.css";
@import "./styles/helpers.css";
@import "./styles/projects.css";
@import "./styles/project.css";

/* Override styles for third-party libraries */
@import "./styles/overwrites/react-select.css";
@import "./styles/overwrites/react-datepicker.css";

/* Sections */
@import "./styles/sections/hero.css";
@import "./styles/sections/features.css";
@import "./styles/sections/projects.css";

/* Pages */
@import "./styles/pages/auth-page.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
